<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Your To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <!-- Navbar with hamburger button -->
    <div class="navbar">
        <span class="hamburger" onclick="toggleSidebar()">&#9776;</span>
        <center><h1>Welcome to Your To-Do List</h1></center>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <a href="javascript:void(0)" class="close-btn" onclick="toggleSidebar()">&times;</a>
        <button class="sidebar-btn create-btn">
            &#43; Create</button>
        <button class="sidebar-btn">All Tasks</button>
        <button class="sidebar-btn">Starred</button>
        <button class="sidebar-btn">Today's Tasks</button>
    </div>

    <div class="box">
        <form action="/search" method="post">
            <input type="text" name="userName" placeholder="Enter your name" required>
            <button type="submit">Go</button>
        </form>
    </div>
    <!-- Login Form -->
    <div class="login-form box">
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    </div>
    <script>
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            if (sidebar.style.width === "250px") {
                sidebar.style.width = "0";
            } else {
                sidebar.style.width = "250px";
            }
        }
    </script>
</body>
</html>