html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.homepage-tag {
  display: block; /* Make it a block element */
  background-color: #A683E3; /* Background color */
  color: white; /* Text color */
  padding: 10px; /* Padding around the text */
  margin: 20px auto; /* Center it with auto margins */
  width: 130px; /* Fixed width */
  height: 50px; /* Fixed height */
  text-align: center; /* Center the text inside */
  line-height: 50px; /* Vertically center the text */
  text-decoration: none; /* Removed underline */
  border-radius: 25px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth hover effect */
}

.homepage-tag:hover {
  background-color: #6824dd; /* Darker background on hover */
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.delete-btn{
  border-radius: 50%;
  background-color: #6824dd;
  font-size: 15px;
  padding-left: 5px;
  padding-top: 5px;
  margin-left: 10px;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}



input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
